{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block nav_bar_left_items %}
{% if is_superuser == 'True' and is_student == 'False' %}
<ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'user_add' %}">Add</a>
          <a class="dropdown-item" href="{% url 'view_users' %}">View</a>
          <!--<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>-->
        </div>
		</li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Department
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'dept_add' %}">Add</a>
        </div>
      </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Blooms Verb
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'add-blooms' %}">Add</a>
        </div>
      </li>

      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Subject
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'sub_add' %}">Add</a>
            <!--<a class="dropdown-item" href="{% url 'sub_list' %}">View</a>-->
        </div>
      </li>
    </ul>
{% elif is_superuser == 'False' and is_student == 'False' %}
<ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Subject
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'sub_add' %}">Add</a>
          <a class="dropdown-item" href="{% url 'sub_list' %}">View</a>
            <a class="dropdown-item" href="{% url 'map_mod' %}">Map</a>
          <!--<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>-->
        </div>
		</li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mark
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'add_mark' %}">Add</a>
        </div>
      </li>

      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Newsfeed
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'post-create' %}">Post</a>
          <a class="dropdown-item" href="{% url 'newsfeed-home' %}">View</a>
        </div>
      </li>

    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Question
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'add-qn' %}">Add</a>
          <a class="dropdown-item" href="{% url 'qn-list' %}">View</a>
        </div>
      </li>
    <li class="nav-item">
        {% if dept_id == 'MCA' %}
            <a class="nav-link" href="{% url 'gen-qn-ppr-mca' %}">Generate Qn Paper</a>
        {% elif dept_id == 'MBA' %}
            <a class="nav-link" href="#">Generate Qn Paper</a>
        {% else %}
            <a class="nav-link" href="#">Generate Qn Paper</a>
        {% endif %}
   </li>


    <li class="nav-item">
      <a class="nav-link" href="#">Archive</a>
   </li>
    </ul>
{% else %}

<ul class="navbar-nav mr-auto">

    <li class="nav-item">
        <a class="nav-link" href="{% url 'qn-list' %}">Questions</a>
   </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Archive</a>
   </li>
    </ul>

{% endif %}
{% endblock %}

{% block nav_bar_right_items %}

<ul class="navbar-nav" >
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ full_name }}
        </a>
        <div class="dropdown-menu" style="left: auto !important; right: 0px" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">pswd mngnmnt</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          <!--<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>-->
        </div>
      </li>

     <!-- <li class="nav-item active">
        <a class="nav-link" href="#" style="visibility: hidden">Hom<span class="sr-only">(current)</span></a>
      </li>-->
    </ul>

{% endblock %}

{% block main_divs %}

<div class="col-md-3"></div>
        <div class="col-md-6" style="margin-top: 10">

{% endblock %}

{% block content %}
            <style>
                .content-section {
                    background: #ffffff;
                    padding: 10px 20px;
                    border: 1px solid #dddddd;
                    border-radius: 3px;
                    margin-bottom: 20px;
                }
            </style>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Blog Post</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}