{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block nav_bar_left_items %}
<ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'user_add' %}">Add</a>
          <a class="dropdown-item" href="#">View</a>
          <!--<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>-->
        </div>
		</li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Department
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'dept_add' %}">Add</a>
        </div>
      </li>

      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Subject
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'sub_add' %}">Add</a>
          <a class="dropdown-item" href="{% url 'map_mod' %}">Map</a>
        </div>
      </li>

      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Question
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'add-qn' %}">Add</a>
          <a class="dropdown-item" href="#">Map</a>
        </div>
      </li>
    </ul>
{% endblock %}

{% block nav_bar_right_items %}

<ul class="navbar-nav" >
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ full_name }}
        </a>
        <div class="dropdown-menu" style="left: auto !important; right: 0px" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">pswd mngnmnt</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          <!--<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>-->
        </div>
      </li>

     <!-- <li class="nav-item active">
        <a class="nav-link" href="#" style="visibility: hidden">Hom<span class="sr-only">(current)</span></a>
      </li>-->
    </ul>

{% endblock %}

{% block main_divs %}

<div class="col-md-2"></div>
        <div class="col-md-8" style="margin-top: 10">

{% endblock %}

{% block content %}

    <div class="content-section" style="background: white; padding: 10px 20px; border: 1px solid #dddddd; border-radius: 3px;">
        <form method="POST" id="generateqnppr" data-sem-url="{% url 'ajax_load_sem' %}" data-sub-url="{% url 'ajax_load_sub' %}" autocomplete="off" novalidate>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Generate Question Paper Here</legend>
                <!--{{ form_2|crispy }}-->
                 <div class="form-row">
                    <div class="form-group col-md-3 mb-0">
                        {{ form_1.exm_type|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-9 mb-0">
                        {{ form_1.exam_name|as_crispy_field }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3 mb-0">
                        {{ form_2.dept|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form_2.sem|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form_3.sub_code|as_crispy_field }}
                    </div>
                </div>

                <h6>No. of Questions For Part A From Each Module</h6>
                <div class="form-row">
                    <div class="form-group col-md-2 mb-0">
                        {{ form_1.mod_1_A|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-2 mb-0">
                        {{ form_1.mod_2_A|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-2 mb-0">
                        {{ form_1.mod_3_A|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-2 mb-0">
                        {{ form_1.mod_4_A|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-2 mb-0">
                        {{ form_1.mod_5_A|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-2 mb-0">
                        {{ form_1.mod_6_A|as_crispy_field }}
                    </div>
                </div>
                <strong><p id="partaindicator" style="font-size: 13px; color: red">Total no.of questions selected for PART-A  0 / 6</p></strong>

                <h6>No. of Questions For Part B From Each Module</h6>
                <div class="form-row">
                    <div class="form-group col-md-2 mb-0">
                        {{ form_1.mod_1_B|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-2 mb-0">
                        {{ form_1.mod_2_B|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-2 mb-0">
                        {{ form_1.mod_3_B|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-2 mb-0">
                        {{ form_1.mod_4_B|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-2 mb-0">
                        {{ form_1.mod_5_B|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-2 mb-0">
                        {{ form_1.mod_6_B|as_crispy_field }}
                    </div>
                </div>
                <strong><p id="partbindicator" style="font-size: 13px; color: red">Total no.of questions selected for PART-B  0 / 4</p></strong>

               <!-- {{ form|crispy }}-->

            </fieldset>
            <div class="form-group">
                <button id="generate" formtarget="_blank" class="btn btn-outline-info" type="submit">Generate</button>
            </div>
        </form>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
    $("#id_dept").change(function () {
      var url = $("#generateqnppr").attr("data-sem-url");
      var deptId = $(this).val();
      console.log(deptId)

      $.ajax({
        url: url,
        data: {
          'dept': deptId
        },
        success: function (data) {
          $("#id_sem").html(data);
        }
      });

    });

    $("#id_sem").change(function () {
      var url = $("#generateqnppr").attr("data-sub-url");
      var semId = $(this).val();
      var deptId=$("#id_dept").val();
      console.log(deptId)

      $.ajax({
        url: url,
        data: {
          'dept': deptId,
            'sem': semId
        },
        success: function (data) {
          $("#id_sub_code").html(data);
        }
      });

    });
  </script>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
            var total_A;
            var total_B;
            function partAcount() {
                var cnt_A_module1 = Number($("#id_mod_1_A").val());
                var cnt_A_module2 = Number($("#id_mod_2_A").val());
                var cnt_A_module3 = Number($("#id_mod_3_A").val());
                var cnt_A_module4 = Number($("#id_mod_4_A").val());
                var cnt_A_module5 = Number($("#id_mod_5_A").val());
                var cnt_A_module6 = Number($("#id_mod_6_A").val());

                total_A = cnt_A_module1 + cnt_A_module2 + cnt_A_module3 + cnt_A_module4 + cnt_A_module5 + cnt_A_module6;
                disp_a = "Total no.of questions selected for PART-A "+  total_A.toString() +" / 6"

                document.getElementById("partaindicator").innerHTML = disp_a;
                console.log(total_A)
                if (total_A == 6){
                    document.getElementById("partaindicator").style.color = "green";
                }else{
                    document.getElementById("partaindicator").style.color = "red";
                }
            }

            function partBcount() {
                var cnt_B_module1 = Number($("#id_mod_1_B").val());
                var cnt_B_module2 = Number($("#id_mod_2_B").val());
                var cnt_B_module3 = Number($("#id_mod_3_B").val());
                var cnt_B_module4 = Number($("#id_mod_4_B").val());
                var cnt_B_module5 = Number($("#id_mod_5_B").val());
                var cnt_B_module6 = Number($("#id_mod_6_B").val());

                total_B = cnt_B_module1 + cnt_B_module2 + cnt_B_module3 + cnt_B_module4 + cnt_B_module5 + cnt_B_module6;
                disp_b = "Total no.of questions selected for PART-B "+  total_B.toString() +" / 4"

                document.getElementById("partbindicator").innerHTML = disp_b;
                console.log(total_B)
                if (total_B == 4){
                    document.getElementById("partbindicator").style.color = "green";
                }else{
                    document.getElementById("partbindicator").style.color = "red";
                }
            }

            $("#id_mod_1_A").change(function () {
                partAcount();

            });
            $("#id_mod_2_A").change(function () {
                partAcount();

            });
            $("#id_mod_3_A").change(function () {
                partAcount();

            });
            $("#id_mod_4_A").change(function () {
                partAcount();

            });
            $("#id_mod_5_A").change(function () {
                partAcount();

            });
            $("#id_mod_6_A").change(function () {
                partAcount();

            });


            $("#id_mod_1_B").change(function () {
                partBcount();

            });
            $("#id_mod_2_B").change(function () {
                partBcount();

            });
            $("#id_mod_3_B").change(function () {
                partBcount();

            });
            $("#id_mod_4_B").change(function () {
                partBcount();

            });
            $("#id_mod_5_B").change(function () {
                partBcount();

            });
            $("#id_mod_6_B").change(function () {
                partBcount();

            });

            $('#generate').click(function(){
                if (total_A != 6 && total_B != 4){
                    alert('Total no.of selected questions should be \n PART - A :  6\n PART - B :  4');
                    event.preventDefault();
                    $("#id_mod_1_A").val(0);
                    $("#id_mod_2_A").val(0);
                    $("#id_mod_3_A").val(0);
                    $("#id_mod_4_A").val(0);
                    $("#id_mod_5_A").val(0);
                    $("#id_mod_6_A").val(0);

                    $("#id_mod_1_B").val(0);
                    $("#id_mod_2_B").val(0);
                    $("#id_mod_3_B").val(0);
                    $("#id_mod_4_B").val(0);
                    $("#id_mod_5_B").val(0);
                    $("#id_mod_6_B").val(0);

                }
            });


        </script>
       <!-- <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="#">Sign In</a>
            </small>
        </div>-->
    </div>

{% endblock content %}