{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block nav_bar_left_items %}
{% if is_superuser == 'True' and is_student == 'False' %}
<ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'user_add' %}">Add</a>
          <a class="dropdown-item" href="{% url 'view_users' %}">View</a>
          <!--<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>-->
        </div>
		</li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Department
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'dept_add' %}">Add</a>
        </div>
      </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Blooms Verb
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'add-blooms' %}">Add</a>
        </div>
      </li>

      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Subject
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'sub_add' %}">Add</a>
            <!--<a class="dropdown-item" href="{% url 'sub_list' %}">View</a>-->
        </div>
      </li>
    </ul>
{% elif is_superuser == 'False' and is_student == 'False' %}
<ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Subject
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'sub_add' %}">Add</a>
          <a class="dropdown-item" href="{% url 'sub_list' %}">View</a>
            <a class="dropdown-item" href="{% url 'map_mod' %}">Map</a>
          <!--<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>-->
        </div>
		</li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mark
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'add_mark' %}">Add</a>
        </div>
      </li>

      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Newsfeed
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'post-create' %}">Post</a>
          <a class="dropdown-item" href="{% url 'newsfeed-home' %}">View</a>
        </div>
      </li>

    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Question
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'add-qn' %}">Add</a>
          <a class="dropdown-item" href="{% url 'qn-list' %}">View</a>
        </div>
      </li>
    <li class="nav-item">
        {% if dept_id == 'MCA' %}
            <a class="nav-link" href="{% url 'gen-qn-ppr-mca' %}">Generate Qn Paper</a>
        {% elif dept_id == 'MBA' %}
            <a class="nav-link" href="#">Generate Qn Paper</a>
        {% else %}
            <a class="nav-link" href="#">Generate Qn Paper</a>
        {% endif %}
   </li>


    <li class="nav-item">
      <a class="nav-link" href="#">Archive</a>
   </li>
    </ul>
{% else %}

<ul class="navbar-nav mr-auto">

    <li class="nav-item">
        <a class="nav-link" href="{% url 'qn-list' %}">Questions</a>
   </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Archive</a>
   </li>
    </ul>

{% endif %}
{% endblock %}

{% block nav_bar_right_items %}

<ul class="navbar-nav ml-auto" >
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ full_name }}
        </a>
        <div class="dropdown-menu" style="left: auto !important; right: 0px" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">pswd mngnmnt</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          <!--<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>-->
        </div>
      </li>

     <!-- <li class="nav-item active">
        <a class="nav-link" href="#" style="visibility: hidden">Hom<span class="sr-only">(current)</span></a>
      </li>-->
    </ul>

{% endblock %}

{% block main_divs %}

<div class="col-md-0"></div>
        <div class="col-md-12" style="margin-top: 10">

{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"></script>-->
<!--<script src="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"></script>-->

<form method="POST" id="question_tblForm" data-sem-url="{% url 'ajax_load_sem' %}" data-sub-url="{% url 'ajax_load_sub' %}" data-qns-url="{% url 'ajax_question_list' %}">
<div class="form-row">
    <div class="form-group col-md-2 mb-0">
        {{ form_1.dept|as_crispy_field }}
    </div>
    <div class="form-group col-md-2 mb-0">
        {{ form_1.sem|as_crispy_field }}
    </div>
    <div class="form-group col-md-4 mb-0">
        {{ form_2.sub_code|as_crispy_field }}
    </div>
    <div class="form-group col-md-2 mb-0">
        {{ form_2.module|as_crispy_field }}
    </div>
</div>
</form>

<!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
<script>

    $("#id_dept").change(function () {
      var url = $("#question_tblForm").attr("data-sem-url");
      var deptId = $(this).val();


      $.ajax({
        url: url,
        data: {
          'dept': deptId
        },
        success: function (data) {
          $("#id_sem").html(data);
        }
      });

    });

    $("#id_sem").change(function () {
      var url = $("#question_tblForm").attr("data-sub-url");
      var semId = $(this).val();
      var deptId=$("#id_dept").val();


      $.ajax({
        url: url,
        data: {
          'dept': deptId,
            'sem': semId
        },
        success: function (data) {
          $("#id_sub_code").html(data);
        }
      });

    });

    $("#id_module").change(function () {
      var url = $("#question_tblForm").attr("data-qns-url");
      var deptId=$("#id_dept").val();
      var semId=$("#id_sem").val();
      var subId=$("#id_sub_code").val();
      var modId=$("#id_module").val();
      console.log("***********")
      console.log(modId)

      $.ajax({
        url: url,
        data: {
          'deptId': deptId,
            'semId': semId,
            'subId': subId,
            'modId': modId
        },
        success: function (data) {
          $("#ajax_question_list").html(data);
        }
      });

    });
</script>

<div id="ajax_question_list">
<table id="question_tbl" class="table table-striped table-bordered" style="width:100%">
        <thead >
            <tr>
                <th>Question</th>
                <th>Klevel</th>
                <th>Module</th>
                <th>Subject</th>
                <th>Mark</th>
            </tr>
        </thead>
        <tbody>
            {% for qn in question_list %}
        <tr>

            <td style="color:black;">{{qn.desc}}</td>
            <td style="color:black;">{{qn.blm_lvl_name}}</td>
            <td style="color:black;">{{qn.module_name}}</td>

            <td style="color:black;">{{qn.subname}}</td>
            <td style="color:black;">{{qn.mark_disp}}</td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
</div>
            <script>
                $(document).ready(function() {
    $('#question_tbl').DataTable();
} );
            </script>
{% endblock content %}