{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block nav_bar_left_items %}
{% if is_superuser == 'True' and is_student == 'False' %}
<ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'user_add' %}">Add</a>
          <a class="dropdown-item" href="{% url 'view_users' %}">View</a>
          <!--<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>-->
        </div>
		</li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Department
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'dept_add' %}">Add</a>
        </div>
      </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Blooms Verb
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'add-blooms' %}">Add</a>
        </div>
      </li>

      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Subject
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'sub_add' %}">Add</a>
            <!--<a class="dropdown-item" href="{% url 'sub_list' %}">View</a>-->
        </div>
      </li>
    </ul>
{% elif is_superuser == 'False' and is_student == 'False' %}
<ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Subject
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'sub_add' %}">Add</a>
          <a class="dropdown-item" href="{% url 'sub_list' %}">View</a>
            <a class="dropdown-item" href="{% url 'map_mod' %}">Map</a>
          <!--<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>-->
        </div>
		</li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mark
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'add_mark' %}">Add</a>
        </div>
      </li>

      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Newsfeed
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'post-create' %}">Post</a>
          <a class="dropdown-item" href="{% url 'newsfeed-home' %}">View</a>
        </div>
      </li>

    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Question
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'add-qn' %}">Add</a>
          <a class="dropdown-item" href="{% url 'qn-list' %}">View</a>
        </div>
      </li>
    <li class="nav-item">
        {% if dept_id == 'MCA' %}
            <a class="nav-link" href="{% url 'gen-qn-ppr-mca' %}">Generate Qn Paper</a>
        {% elif dept_id == 'MBA' %}
            <a class="nav-link" href="#">Generate Qn Paper</a>
        {% else %}
            <a class="nav-link" href="#">Generate Qn Paper</a>
        {% endif %}
   </li>


    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Archive
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'add_archive' %}">Add</a>
          <a class="dropdown-item" href="{% url 'archive_list' %}">View</a>
        </div>
      </li>

    </ul>
{% else %}

<ul class="navbar-nav mr-auto">

    <li class="nav-item">
        <a class="nav-link" href="{% url 'qn-list' %}">Questions</a>
   </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'archive_list' %}">Archive</a>
   </li>
    </ul>

{% endif %}
{% endblock %}

{% block nav_bar_right_items %}

<ul class="navbar-nav ml-auto" >
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ full_name }}
        </a>
        <div class="dropdown-menu" style="left: auto !important; right: 0px" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
          <a class="dropdown-item" href="#">pswd mngnmnt</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          <!--<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>-->
        </div>
      </li>

     <!-- <li class="nav-item active">
        <a class="nav-link" href="#" style="visibility: hidden">Hom<span class="sr-only">(current)</span></a>
      </li>-->
    </ul>

{% endblock %}

{% block main_divs %}

<div class="col-md-1"></div>
        <div class="col-md-11" style="margin-top: 10">

{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"></script>-->


<form id="subjectlistform" data-sem-url="{% url 'ajax_load_sem' %}" data-subject_list-url="{% url 'ajax_sub_list' %}">

<div class="form-row">
    <!--<div class="form-group col-md-3 mb-0">

    </div>-->
    <div class="form-group col-md-3 mb-0">
    {{ form_1.dept|as_crispy_field }}
    </div>
    <div class="form-group col-md-3 mb-0">
        {{ form_1.sem|as_crispy_field }}
    </div>
</div>
</form>

<div class="row" id="subjectlist">

    {% for sub in subject_list %}
    <div class="card" style="width: 18rem; margin-top: 15px">
  <img class="card-img-top" src="/media/book_2.jpg" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h5 class="card-title" >{{ sub.subname }} {{ pro.user.last_name }}</h5>
      <p class="card-text" >{{ sub.sem }}</p>
    <!--<p class="card-text">{{ user.email }}</p>-->
    <a href="{% url 'view_subject_detail' sub.id %}" class="btn btn-primary" target="_blank">More Info</a>
  </div>
</div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{%endfor%}

</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_dept").change(function () {
      var url = $("#subjectlistform").attr("data-sem-url");
      var deptId = $(this).val();


      $.ajax({
        url: url,
        data: {
          'dept': deptId
        },
        success: function (data) {
          $("#id_sem").html(data);
        }
      });

    });
  </script>
<script>
    $("#id_sem").change(function () {
      var url = $("#subjectlistform").attr("data-subject_list-url");
      var deptId = $("#id_dept").val();
      var semId = $("#id_sem").val();
      console.log(semId)

      $.ajax({
        url: url,
        data: {
          'dept': deptId,
            'sem': semId
        },
        success: function (data) {
          $("#subjectlist").html(data);
        }
      });

    });
</script>
{% endblock content %}