<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1" cellspacing="0" cellpadding="5"  align="center">
        <tr>
            <th width="50px"></th>
            <th width="70px">K1</th>
            <th width="70px">K2</th>
            <th width="70px">K3</th>
            <th width="70px">K4</th>
            <th width="70px">K5</th>
            <th width="70px">K6</th>
        </tr>
        {% for b in blooms_tbl %}
        <tr>
            <td align="center"><b>{{ b.qn }}</b></td>
            {% ifequal b.k1 0%}
                <td ></td>
            {% else %}
                <td >{{ b.k1 }}</td>
            {% endifequal %}

            {% ifequal b.k2 0%}
                <td ></td>
            {% else %}
                <td >{{ b.k2 }}</td>
            {% endifequal %}

            {% ifequal b.k3 0%}
                <td ></td>
            {% else %}
                <td >{{ b.k3 }}</td>
            {% endifequal %}

            {% ifequal b.k4 0%}
                <td ></td>
            {% else %}
                <td >{{ b.k4 }}</td>
            {% endifequal %}

            {% ifequal b.k5 0%}
                <td ></td>
            {% else %}
                <td >{{ b.k5 }}</td>
            {% endifequal %}

            {% ifequal b.k6 0%}
                <td ></td>
            {% else %}
                <td >{{ b.k6 }}</td>
            {% endifequal %}


        </tr>
        {% endfor %}
    </table>
</body>
</html>