{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block nav_bar_left_items %}
{% if is_superuser == 'True' and is_student == 'False' %}
<ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'user_add' %}">Add</a>
          <a class="dropdown-item" href="{% url 'view_users' %}">View</a>
          <!--<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>-->
        </div>
		</li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Department
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'dept_add' %}">Add</a>
        </div>
      </li>

      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Subject
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'sub_add' %}">Add</a>
            <!--<a class="dropdown-item" href="{% url 'sub_list' %}">View</a>-->
        </div>
      </li>
    </ul>
{% elif is_superuser == 'False' and is_student == 'False' %}
<ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Subject
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'sub_add' %}">Add</a>
          <a class="dropdown-item" href="{% url 'sub_list' %}">View</a>
            <a class="dropdown-item" href="{% url 'map_mod' %}">Map</a>
          <!--<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>-->
        </div>
		</li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mark
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'add_mark' %}">Add</a>
        </div>
      </li>

      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Newsfeed
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'post-create' %}">Post</a>
          <a class="dropdown-item" href="{% url 'newsfeed-home' %}">View</a>
        </div>
      </li>

    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Question
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'add-qn' %}">Add</a>
          <a class="dropdown-item" href="{% url 'qn-list' %}">View</a>
        </div>
      </li>
    <li class="nav-item">
        {% if dept_id == 'MCA' %}
            <a class="nav-link" href="{% url 'gen-qn-ppr-mca' %}">Generate Qn Paper</a>
        {% elif dept_id == 'MBA' %}
            <a class="nav-link" href="#">Generate Qn Paper</a>
        {% else %}
            <a class="nav-link" href="#">Generate Qn Paper</a>
        {% endif %}
   </li>


    <li class="nav-item">
      <a class="nav-link" href="#">Archive</a>
   </li>
    </ul>
{% else %}

<ul class="navbar-nav mr-auto">

    <li class="nav-item">
        <a class="nav-link" href="{% url 'qn-list' %}">Questions</a>
   </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Archive</a>
   </li>
    </ul>

{% endif %}
{% endblock %}

{% block nav_bar_right_items %}

<ul class="navbar-nav ml-auto" >
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ full_name }}
        </a>
        <div class="dropdown-menu" style="left: auto !important; right: 0px" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">pswd mngnmnt</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          <!--<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>-->
        </div>
      </li>

     <!-- <li class="nav-item active">
        <a class="nav-link" href="#" style="visibility: hidden">Hom<span class="sr-only">(current)</span></a>
      </li>-->
    </ul>

{% endblock %}

{% block main_divs %}

<div class="col-md-1"></div>
        <div class="col-md-11" style="margin-top: 10">

{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"></script>-->


<form id="userlistform" data-user-list-url="{% url 'ajax_user_list' %}">
<div class="form-row">
    <!--<div class="form-group col-md-3 mb-0">

    </div>-->
    <div class="form-group col-md-3 mb-0">
    {{ form_1.dept_id|as_crispy_field }}
    </div>
    <div class="form-group col-md-3 mb-0">

    </div>
</div>
</form>

<div class="row" id="userlist">

    {% for user in user_list %}
    <div class="card" style="width: 18rem; margin-top: 15px">
  <img class="card-img-top" src="{{ user.profile.image.url }}" alt="Card image cap" height="250px" width="250px">
  <div class="card-body">
    <h5 class="card-title">{{ user.first_name }} {{ pro.user.last_name }}</h5>
      <p class="card-text">{{ user.username }}</p>
    <!--<p class="card-text">{{ user.email }}</p>-->
    <a href="{% url 'view_user_detail' user.id %}" class="btn btn-primary" target="_blank">More Info</a>
  </div>
</div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{%endfor%}

</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_dept_id").change(function () {
      var url = $("#userlistform").attr("data-user-list-url");
      var deptId = $(this).val();
      console.log(deptId)

      $.ajax({
        url: url,
        data: {
          'dept': deptId
        },
        success: function (data) {
          $("#userlist").html(data);
        }
      });

    });
</script>

{% endblock content %}